.body--dark {
  .custom-card::after {
    position: absolute;
    top: 50%;
    height: 0.125rem;
    border-radius: 0.375rem;
    background-image: linear-gradient(to right, #ffc6ff  , #810a81);
    content: '';
    width: 2rem;
    margin-left: 5px;
  }
  .q-card::after {
   visibility: hidden;
    height: 0 !important;
  }
}
