.body--light {
  .about::after {
    position: absolute;
    top: 50%;
    height: 0.125rem;
    border-radius: 0.375rem;
    background-image: linear-gradient(to right, #bdb2ff, #4438a9 );
    content: '';
    width: 2rem;
    margin-left: 5px;
  }
}
